.box-1, .box-2 {
    width: 200px;
    height: 200px;
    margin: 20px;    
}

.box-1 {
    background-color: #d61f1f;
    border: 5px solid #0e0d0d;
}

.box-2 {
    background-color: #1f61d6;
    border: 5px solid #0e0d0d;
}


